<html>
	<body>
		<table cellspacing="0" cellpadding="0">
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
            <col />
			<col />
			<col />
			<col span="2" />
			<col />
			<col />
			<col />
			<col />
            <col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col span="2" />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<col />
			<tr>
				<td colspan="25" bgcolor="#ffff00" align="center"><b>General</b></td>
				<td colspan="6" bgcolor="#FFCC99" align="center"><B>Descriptions</B></td>
				<td colspan="6" bgcolor="#99CCFF" align="center"><B>Attributes/Features/Use</B></td>
				<td colspan="14" bgcolor="#CCFFCC" align="center"><B>Flower/Foliage</B></td>
				<td colspan="10" bgcolor="#c0c0c0" align="center"><B>Growth/Care</B></td>
				<td colspan="6" bgcolor="#00ff00" align="center"><B>Needs/Zones</B></td>
			</tr>
			<tr>
				<td bgcolor="#ffff00"><b><nobr>Is Active</nobr></b></td>
				<td bgcolor="#ffff00"><b><nobr>Is New</nobr></b></td>
				<td bgcolor="#ffff00"><b><nobr>Item Number</nobr></b></td>
				<td bgcolor="#ffff00"><b><nobr>Types</nobr></b></td>
				<td bgcolor="#ffff00"><b><nobr>Deciduous/Evergreen</nobr></b></td>
                <td bgcolor="#ffff00"><b><nobr>Plant Collection</nobr></b></td>
				<td bgcolor="#ffff00"><b><nobr>Common Name</nobr></b></td>
				<td bgcolor="#ffff00"><b><nobr>Botanical Name</nobr></b></td>
				<td bgcolor="#ffff00"><b><nobr>Trademark Name</nobr></b></td>
				<td bgcolor="#ffff00"><b><nobr>Synonym</nobr></b></td>
				<td bgcolor="#ffff00"><b><nobr>Botanical Family</nobr></b></td>
				<td bgcolor="#ffff00"><b><nobr>Botanical Genus</nobr></b></td>
				<td bgcolor="#ffff00"><b><nobr>Botanical Species</nobr></b></td>
				<td bgcolor="#ffff00"><b><nobr>Botanical Sub-Species</nobr></b></td>
				<td bgcolor="#ffff00"><b><nobr>Botanical Cultivar</nobr></b></td>
				<td bgcolor="#ffff00"><b><nobr>Phonetic Spelling</nobr></b></td>
                <td bgcolor="#ffff00"><b><nobr>Is Monrovia Exclusive</nobr></b></td>
                <td bgcolor="#ffff00"><b><nobr>Special Third Party</nobr></b></td>
				<td bgcolor="#ffff00"><b><nobr>Release Status</nobr></b></td>
				<td bgcolor="#ffff00"><b><nobr>Patent</nobr></b></td>
				<td bgcolor="#ffff00"><b><nobr>Patent Act</nobr></b></td>
				<td bgcolor="#ffff00"><b><nobr>Year Introduced</nobr></b></td>
				<td bgcolor="#ffff00"><b><nobr>Geographical Origin</nobr></b></td>
				<td bgcolor="#ffff00"><b><nobr>&quot;Buy Now&quot; URL</nobr></b></td>
				<td bgcolor="#ffff00"><b><nobr>Subcategory</nobr></b></td>
				<td bgcolor="#FFCC99"><b><nobr>Design Ideas</nobr></b></td>
				<td bgcolor="#FFCC99"><b><nobr>Plant Benefits</nobr></b></td>
				<td bgcolor="#FFCC99"><b><nobr>Lore</nobr></b></td>
				<td bgcolor="#FFCC99"><b><nobr>History</nobr></b></td>
				<td bgcolor="#FFCC99"><b><nobr>Companion Plant Description</nobr></b></td>
				<td bgcolor="#FFCC99"><b><nobr>Catalog Description</nobr></b></td>
				<td bgcolor="#99CCFF"><b><nobr>Key Feature/Primary Attribute</nobr></b></td>
				<td bgcolor="#99CCFF"><b><nobr>Garden Styles</nobr></b></td>
				<td bgcolor="#99CCFF"><b><nobr>Special Features</nobr></b></td>
				<td bgcolor="#99CCFF"><b><nobr>Problems/Solutions</nobr></b></td>
				<td bgcolor="#99CCFF"><b><nobr>Landscape Uses</nobr></b></td>
				<td bgcolor="#99CCFF"><b><nobr>Attributes (Historical)</nobr></b></td>
				<td bgcolor="#CCFFCC"><b><nobr>Foliage Color</nobr></b></td>
				<td bgcolor="#CCFFCC"><b><nobr>Foliage Under Color</nobr></b></td>
				<td bgcolor="#CCFFCC"><b><nobr>Foliage New Color</nobr></b></td>
				<td bgcolor="#CCFFCC"><b><nobr>Foliage Winter Color</nobr></b></td>
				<td bgcolor="#CCFFCC"><b><nobr>Foliage Spring Color</nobr></b></td>
				<td bgcolor="#CCFFCC"><b><nobr>Foliage Summer Color</nobr></b></td>
				<td bgcolor="#CCFFCC"><b><nobr>Foliage Fall Color</nobr></b></td>
				<td bgcolor="#CCFFCC"><b><nobr>Foliage Description</nobr></b></td>
				<td bgcolor="#CCFFCC"><b><nobr>Foliage Shape</nobr></b></td>
				<td bgcolor="#CCFFCC"><b><nobr>Flower Color</nobr></b></td>
				<td bgcolor="#CCFFCC"><b><nobr>Flowering Time</nobr></b></td>
				<td bgcolor="#CCFFCC"><b><nobr>Flowering Seasons</nobr></b></td>
				<td bgcolor="#CCFFCC"><b><nobr>Flower Attributes</nobr></b></td>
				<td bgcolor="#CCFFCC"><b><nobr>Flower Description</nobr></b></td>
				<td bgcolor="#c0c0c0"><b><nobr>Growth Habits</nobr></b></td>
				<td bgcolor="#c0c0c0"><b><nobr>Growth Rate</nobr></b></td>
				<td bgcolor="#c0c0c0"><b><nobr>Fertilizer</nobr></b></td>
				<td bgcolor="#c0c0c0"><b><nobr>Spread</nobr></b></td>
				<td bgcolor="#c0c0c0"><b><nobr>Height</nobr></b></td>
				<td bgcolor="#c0c0c0"><b><nobr>Pruning Time</nobr></b></td>
				<td bgcolor="#c0c0c0"><b><nobr>Average Landscape Size</nobr></b></td>
				<td bgcolor="#c0c0c0"><b><nobr>Propagation Method</nobr></b></td>
				<td bgcolor="#c0c0c0"><b><nobr>Care Instructions</nobr></b></td>
				<td bgcolor="#c0c0c0"><b><nobr>Growth Habit (Historical)</nobr></b></td>
				<td bgcolor="#00ff00"><b><nobr>Water Requirement</nobr></b></td>
				<td bgcolor="#00ff00"><b><nobr>Water Requirement Details</nobr></b></td>
				<td bgcolor="#00ff00"><b><nobr>Sun Exposure</nobr></b></td>
				<td bgcolor="#00ff00"><b><nobr>Cold Zone (Low)</nobr></b></td>
				<td bgcolor="#00ff00"><b><nobr>Cold Zone (High)</nobr></b></td>
				<td bgcolor="#00ff00"><b><nobr>Sunset Zones</nobr></b></td>
			</tr>