.section {
	background-color: #f9f8f3;
}
.section:before, .section:after {
	display:table;
	content:" "
}
.section:after{
	clear:both
}
.section:before, .section:after {
	display:table;
	content:" "
}
.section:after{
	clear:both
}

.section > div:first-child {
	padding-left: 0;
}

.section > div:last-child {
	padding-right: 0;
}

.colmb-xs-1, .colmb-sm-1, .colmb-md-1, .colmb-lg-1, .colmb-xs-2, .colmb-sm-2, .colmb-md-2, .colmb-lg-2, .colmb-xs-3, .colmb-sm-3, .colmb-md-3, .colmb-lg-3, .colmb-xs-4, .colmb-sm-4, .colmb-md-4, .colmb-lg-4, .colmb-xs-5, .colmb-sm-5, .colmb-md-5, .colmb-lg-5, .colmb-xs-6, .colmb-sm-6, .colmb-md-6, .colmb-lg-6, .colmb-xs-7, .colmb-sm-7, .colmb-md-7, .colmb-lg-7, .colmb-xs-8, .colmb-sm-8, .colmb-md-8, .colmb-lg-8, .colmb-xs-9, .colmb-sm-9, .colmb-md-9, .colmb-lg-9, .colmb-xs-10, .colmb-sm-10, .colmb-md-10, .colmb-lg-10, .colmb-xs-11, .colmb-sm-11, .colmb-md-11, .colmb-lg-11, .colmb-xs-12, .colmb-sm-12, .colmb-md-12, .colmb-lg-12 {
	position: relative;
    min-height: 1px;
    padding-right: 14px;
    padding-left: 14px;
}

.colmb-md-12 {
	width: 100%;
}

@media (min-width: 992px) {
	.colmb-md-1, .colmb-md-2, .colmb-md-3, .colmb-md-4, .colmb-md-5, .colmb-md-6, .colmb-md-7, .colmb-md-8, .colmb-md-9, .colmb-md-10, .colmb-md-11 {
		float: left;
	}
	.colmb-md-1 {
		width: 8.333333333333332%;
	}
	.colmb-md-2 {
		width: 16.666666666666664%;
	}
	.colmb-md-3 {
		width: 25%;
	}
	.colmb-md-4 {
		width: 33.33333333333333%;
	}
	.colmb-md-5 {
		width: 41.66666666666667%;
	}
	.colmb-md-6 {
		width: 50%;
	}
	.colmb-md-7 {
		width: 58.333333333333336%;
	}
	.colmb-md-8 {
		width: 66.66666666666666%;
	}
	.colmb-md-9 {
		width: 75%;
	}
	.colmb-md-10 {
		width: 83.33333333333334%;
	}
	.colmb-md-11 {
		width: 91.66666666666666%;
	}
}
